* {
    box-sizing: border-box;
  }
  
  body{
    background-color: #1f1e1e;
  }
  /*
  .column {
    float: left;
    width: 20.00%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
      border-collapse: separate;
    }
    th {
      color: white;
    }
    th,
    td {
      width: 150px;
      padding: 5px;
    }
    */